@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  --gradient-color-1: #234F1E;
  --gradient-color-2: #5DBB63;
  --gradient-color-3: #AEF359;
  --gradient-color-4: #74B72E;
}
